.btn.btn-like {
    @color: #555555;
    color: @color;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    &:hover, &:focus{
        color: mix(#000, @color, 50%);
    }
    i.active {
        color : #f35959;
    }
}

.btn-like2 {
    cursor: pointer;
    margin-left : 5px;
    display     : inline;
    .active {
        color : #f35959;
    }
}