<template name="likeButtons">
    {{#if alt}}
        <div class="btn-like2 js-btn-like">
            {{#if isLiked}}
                <i class="fa fa-thumbs-o-up active"></i>
            {{else}}
                <i class="fa fa-thumbs-o-up"></i>
            {{/if}}
            ({{count}})
        </div>
    {{else}}
        <button class="btn btn-xs btn-like js-btn-like" type="button">
            <strong>{{count}}</strong>
            {{#if isLiked}}
                <i class="fa fa-thumbs-o-up active"></i>
            {{else}}
                <i class="fa fa-thumbs-o-up"></i>
            {{/if}}
        </button>
    {{/if}}
</template>